* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 100px 15px;
}

.section-title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.section-text {
    font-size: 20px;
    line-height: 30px;
}

.nav-menu {
    background-color: #121212;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    transition: 0.5s;
}

.nav-container {
    float: right;
}

.nav-item:hover {
    color: #ffc997;
}

.main-section {
    background: linear-gradient(#db7e7e, #ffc997);
    height: 100vh;
}

.main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    z-index: 10;
}

.main-content-text {
    font-size: 80px;
    color: white;
    text-shadow: 10px 10px 0 #e06161;
}

.main-content-btn {
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 30px;
    width: 300px;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: auto;
    box-shadow: 10px 10px 0 #e06161;
    font-size: 20px;
}

.main-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circle1 {
    position: absolute;
    top: -100px;
    left: -50px;
    animation: rotate-move 10s linear 0s infinite normal;
}

.circle2 {
    position: absolute;
    top: -40px;
    right: -40px;
    animation: move-left-down 10s linear 0s infinite;
}

.circle3 {
    position: absolute;
    bottom: -30px;
    left: -50px;
    animation: move-left-up 8s linear 0s infinite;
}

.circle-bordered {
    position: absolute;
    bottom: -30px;
    left: 250px;
    animation: move-right 15s linear 0s infinite;
}

.circle-dashed {
    position: absolute;
    bottom: -180px;
    right: -100px;
    animation: rotation 15s linear 0s infinite;
}

.octagon {
    position: absolute;
    top: 65%;
    left: 50%;
    animation: rotate-move 10s linear 0s infinite alternate-reverse;
}

.triangle {
    position: absolute;
    top: 20%;
    left: 50%;
    animation: move-right 25s linear 0s infinite normal;
}

.about {
    text-align: center;
}

.doing-left {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.left-text {
    border-radius: 30px;
    box-shadow: 7px 7px 0 #e06161;
    padding: 20px;
    background-color: #ffffff;
}

.doing-right {
    width: 45%;
    display: inline-block;
}

.doing {
    background: linear-gradient(7deg, #db7e7e 18%, #ffc997 70%, #ffffff 70%);
}

.services {
    background: linear-gradient(340deg, #ffffff 45%, #db7e7e 45%);
    text-align: center;
}

.service {
    display: inline-block;
    width: 28%;
    border: 5px solid #ffc997;
    background-color: #ffffff;
    border-radius: 30px;
    height: 400px;
    vertical-align: top;
    margin: 10px 20px;
    padding: 15px;
}

.service-line {
    margin: 10px auto;
    width: 60%;
    background-color: #e06161;
    height: 3px;
    border: none;
}

.adventages {
    position: relative;
}

.adventages-content {
    position: relative;
    z-index: 3;
}

.adventages-card-title {
    font-size: 25px;
    margin-bottom: 15px;
}

.adventages-card {
    border: 5px solid #ffc997;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 0 #e06161;
    background-color: white;
}

.adv-card1 {
    position: relative;
    left: -100px;
}

.adv-card2 {
    position: relative;
    right: 100px;
}

.adv-card3 {
    position: relative;
    left: -80px;
}

.adventages-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.adventage-circle {
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.adventage-hexagon {
    /* картинка будет двигаться внутри блока(липкая) */
    position: sticky;
    top: 40%;
}

table {
    width: 100%;
    height: 600px;
    margin: auto;
}

.pic1 {
    background-image: url(img/portfolio/site1.png);
}

.pic2 {
    background-image: url(img/portfolio/site2.png);
}

.pic3 {
    background-image: url(img/portfolio/site3.png);
}

.pic4 {
    background-image: url(img/portfolio/site4.png);
}

.portf-pic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    border: 5px #e06161 solid;
    transition: 1s;
}

.portf-pic:hover {
    transform: scale(0.95);
}

.contact {
    background: linear-gradient(#db7e7e, #ffc997);
}
.portfolio-mobile{
    display: none;
}
/* анимации для .main-section */
@keyframes move-left-up {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(40px, 80px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes move-right {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(230%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes rotate-move {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }

    50% {
        transform: rotate(180deg) translate(80px, 200px);
    }

    100% {
        transform: translate(0, 0) rotate(360deg);
    }
}

@keyframes move-left-down {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }

    50% {
        transform: rotate(180deg) translate(-180px, 200px);
    }

    100% {
        transform: translate(0, 0) rotate(360deg);
    }
}
/* Мобильная настройка */
@media(max-width:768px) {
    .doing-left,
    .doing-right {
        display: block;
        width: 100%;
    }

    .doing-right img {
        width: 100%;
    }
    .nav-item{
        display: block;
        margin: 10px 0;
    }
    .nav-menu{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-container{
        float: none;
    }
    .main-section{
        position: relative;
    }
    .service{
        display:block;
        width: 100%;
        margin: 20px auto;
    }
    .adv-card1, .adv-card2, .adv-card3{
        left: 0;
    }
    table{
        display: none;
    }
    .portfolio-mobile{
        display: block;
    }
    .portfolio-mobile img{
        width: 100%;
        border: 5px solid #e06161;
        border-radius: 30px;
        margin: 10px 0;
    }
}